@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700);
.small-square {
  color: #5f574f;
  position: absolute;
  top: 0;
  margin: 0 0 0 -15px;
  content: '\25AA';
}
.container {
  padding: 0;
}
a,
a:hover,
a:active {
  outline: 0;
}
a:focus,
button:focus {
  outline: thin dotted #333;
  outline: 2px solid #0098db;
  text-decoration: none;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
blockquote {
  border-left: 5px solid #e3dfd5;
}
div:focus {
  outline: none;
}
dl {
  margin-top: 5px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 5px 0;
}
h1 i,
h2 i,
h3 i,
h4 i,
h5 i,
h6 i {
  margin-right: 7px;
}
h1 {
  font-weight: 300;
}
li {
  line-height: 1.42857;
}
hr {
  border-color: #d5d0c0;
}
label {
  font-weight: 600;
}
input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.6) !important;
}
input::-moz-placeholder {
  /* Firefox 19+ */

  color: #000000 !important;
}
input:-moz-placeholder {
  /* Firefox 18- */

  color: #000000 !important;
}
input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.6) !important;
}
.btn {
  line-height: 1.42867;
}
.btn-one {
  background-color: #009b76;
  border-color: #008263;
  color: #ffffff;
  text-decoration: none;
}
.btn-one:hover,
.btn-one:focus,
.btn-one:active {
  background-color: #00b489;
  border-color: #008263;
  color: #ffffff;
  text-decoration: none;
}
.btn-two {
  background-color: #007c92;
  border-color: #006679;
  color: #ffffff;
  text-decoration: none;
}
.btn-two:hover,
.btn-two:focus,
.btn-two:active {
  background-color: #0092ab;
  border-color: #006679;
  color: #ffffff;
  text-decoration: none;
}
.btn-three {
  background-color: #4d5357;
  border-color: #414649;
  color: #ffffff;
  text-decoration: none;
}
.btn-three:hover,
.btn-three:focus,
.btn-three:active {
  background-color: #596065;
  border-color: #414649;
  color: #ffffff;
  text-decoration: none;
}
.btn-su-alert {
  background-color: #3f3c30;
  border-color: #312e25;
  color: #ffffff;
  text-decoration: none;
}
.btn-su-alert:hover,
.btn-su-alert:focus,
.btn-su-alert:active {
  background-color: #4d4a3b;
  border-color: #312e25;
  color: #ffffff;
  text-decoration: none;
}
.btn-u {
  display: inline-block;
  position: relative;
  padding: 8px 13px;
  border: 0;
  cursor: pointer;
  background: #d5d0c0;
  color: #5f574f;
  font-size: 1.07143em;
  text-decoration: none;
  text-shadow: none;
}
.btn-u:hover {
  color: #fbfbf9;
  background: #3f3c30;
  text-decoration: none;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.btn-u i {
  font-size: 1.13333em;
}
.color-red {
  color: #820000;
}
.toc_current {
  color: #820000;
}
#content {
  margin-bottom: 20px;
}
.dropcap {
  float: left;
  font-size: 4em;
  margin: -25px 5px -25px 0;
  color: #aca68d;
}
#hero-image img {
  display: block;
  max-width: 100%;
  height: auto;
}
.info-box {
  margin: 30px 15px;
  display: table;
}
.info-box .icon-container,
.info-box .text-container {
  display: table-cell;
  vertical-align: top;
  min-width: 65px;
}
.info-box .icon-container {
  text-align: center;
}
.info-box .text-container {
  padding-left: 15px;
}
.info-box .offset {
  padding-left: 65px;
}
.info-box i {
  color: #DAD7CB;
  margin: 0;
}
.info-box h2 {
  font-size: 1.28571em;
  font-weight: normal;
  line-height: 1.2em;
  padding: 5px 0;
  text-transform: uppercase;
  color: #820000;
}
.info-box ul {
  padding-left: 0;
  list-style: none;
}
.info-box ul li {
  line-height: 1.1em;
  margin-bottom: 10px;
}
.info-box dt {
  font-size: 1.1em;
}
.info-box dt a,
.info-box li a {
  text-decoration: none;
}
.info-box dt a:hover,
.info-box li a:hover,
.info-box dt a:active,
.info-box li a:active {
  text-decoration: underline;
}
.lead {
  font-size: 1.42857em;
  line-height: 1.4;
  color: #3f3c30;
}
.larger {
  font-size: 1.28571em;
  line-height: 1.11111;
  font-weight: 400;
}
.margin-bottom-5 {
  margin-bottom: 5px;
  clear: both;
}
.margin-bottom-10 {
  margin-bottom: 10px;
  clear: both;
}
.margin-bottom-20 {
  margin-bottom: 20px;
  clear: both;
}
.margin-bottom-25 {
  margin-bottom: 25px;
  clear: both;
}
.margin-bottom-30 {
  margin-bottom: 30px;
  clear: both;
}
.margin-bottom-40 {
  margin-bottom: 40px;
  clear: both;
}
.margin-bottom-50 {
  margin-bottom: 50px;
  clear: both;
}
.margin-bottom-60 {
  margin-bottom: 60px;
  clear: both;
}
.more-link a,
a.more-link {
  font-weight: 600;
  font-size: .9em;
  padding-left: 0;
  padding-top: 2px;
  display: inline;
  text-transform: uppercase;
  text-decoration: none;
  color: #5f574f;
}
.more-link a:hover span,
a.more-link:hover span {
  color: #8c1515;
  text-decoration: underline;
}
.more-link a i,
a.more-link i {
  color: #8c1515;
  font-size: 1.1em;
}
.navbar {
  border: none;
}
.postcard-left,
.postcard-right {
  clear: both;
  display: table;
  margin-bottom: 15px;
  position: relative;
}
.postcard-left > div,
.postcard-right > div {
  display: table-cell;
  position: relative;
}
.postcard-left .postcard-image img,
.postcard-right .postcard-image img {
  display: block;
  max-width: 100%;
  height: auto;
}
.image-caption {
  background-color: #f2f1eb;
  color: inherit;
  text-shadow: none;
  width: 100%;
  position: static;
  text-align: left;
  padding: 10px;
}
.image-caption h3,
.image-caption h4,
.image-caption p {
  display: inline;
  margin: 0;
}
.image-caption h3,
.image-caption h4 {
  font-size: 1em;
  font-weight: 600;
  text-transform: uppercase;
  color: #820000;
  margin-right: .4em;
}
#hero-image {
  clear: both;
  margin-bottom: 20px;
  position: relative;
}
.screen-reader {
  display: inline-block;
  position: absolute;
  font-size: 0;
  line-height: 0;
  height: 1px;
  overflow: hidden;
}
.size-detect-xs,
.size-detect-sm,
.size-detect-md,
.size-detect-lg {
  display: none;
}
#su-content {
  overflow: visible;
  padding-bottom: 390px !important;
}
#su-wrap {
  overflow-x: hidden;
}
#top {
  min-height: 10px;
  padding: 4px 0 0;
  background-color: #8c1515;
  color: #8c1515;
}
ul.vbar {
  list-style: none;
  padding: 0;
}
ul.vbar li {
  display: inline-block;
  padding: 0 0.5em;
  border-right: 1px solid #696969;
}
ul.vbar li:first-of-type {
  padding-left: 0;
}
ul.vbar li:last-of-type {
  border-right: none;
}
.well {
  box-shadow: none;
  border: medium none;
  border-radius: 10px 10px 10px 10px;
  padding: 20px;
}
.well h2 {
  padding: 10px 0;
  font-size: 1.2em;
  text-transform: uppercase;
  color: #820000;
}
.well h3 {
  font-size: 1em;
  text-transform: uppercase;
}
.well ul {
  list-style: none;
}
.well ul li {
  position: relative;
  margin-bottom: 7px;
  line-height: 1.1em;
}
.well ul li:before {
  color: #5f574f;
  position: absolute;
  top: 0;
  margin: 0 0 0 -15px;
  content: '\25AA';
}
.well .more-link {
  text-align: right;
}
/*Header (logo and menu)
------------------------------------*/
#skip a,
#skip a:hover,
#skip a:visited {
  position: absolute;
  left: 0px;
  top: -500px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
#skip a:active,
#skip a:focus {
  position: static;
  width: auto;
  height: auto;
  color: white;
}
#header {
  z-index: 999;
  padding: 12px 0 18px 0;
  background-color: #8c1515;
}
#logo {
  max-width: 360px;
  min-width: 300px;
}
#header a,
#mainmenu a {
  text-decoration: none;
}
/* Search */
#nav-search {
  min-height: 30px;
  width: 340px;
  position: relative;
  margin-top: 10px;
}
#search-form {
  position: relative;
}
#search-field {
  width: 220px;
  height: 30px;
  color: #5f574f;
  padding: 4px 33px 4px 10px;
  border: 2px solid #e9e6df;
  background-color: #fbfbf9;
  border-radius: 8px;
  position: absolute;
  right: 0;
}
#search-type {
  position: absolute;
  top: 5px;
}
#search-type input:focus {
  outline: 2px solid #0098db;
}
#search-type label {
  font-weight: 400;
  color: #f2f1eb;
}
#search-type input[type="radio"] {
  margin-right: 8px;
}
#search-form #search-btn {
  cursor: pointer;
  border: none;
  height: 26px;
  width: 26px;
  background-color: #fbfbf9;
  position: absolute;
  right: 5px;
  top: 2px;
}
#search-form #search-btn i {
  color: #5f574f;
}
#search-form #search-btn:hover {
  opacity: 0.6;
}
#search-form #search-btn:focus {
  outline: 2px solid #0098db;
}
/* Nav */
#mainmenu {
  background-color: #f2f1eb;
  margin-bottom: 15px;
  -webkit-box-shadow: 0 -4px 8px -2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 -4px 8px -2px rgba(0, 0, 0, 0.2);
}
#mainmenu ul {
  padding-left: 0;
}
.navbar {
  margin: 0;
  min-height: 2.3em;
}
.navbar .nav > li {
  display: block;
  position: relative;
  padding: 0 15px 0 0;
}
.navbar .nav > li:last-child {
  padding-right: 0;
}
.navbar .nav > li > a {
  font-size: 1.4em;
  font-weight: 300;
  padding: 5px 0 6px 0;
  margin-right: 30px;
  line-height: 1em;
  border-bottom: none;
}
.navbar .navbar-collapse {
  padding: 0;
  max-height: none;
}
.navbar .menu-text {
  display: none;
}
/*Gateways */
#gateway-nav h4 {
  text-transform: uppercase;
  display: none;
}
#gateways {
  margin: 0;
  padding-top: 5px;
  padding-right: 5px;
  z-index: 9999;
  list-style: none;
  position: relative;
}
#gateways li {
  display: inline;
  padding-bottom: 0;
  padding-right: 20px;
}
#gateways li a {
  font-size: .9em;
  text-transform: uppercase;
  padding-bottom: 4px;
  color: #2e2d29;
}
.nav-pills > li {
  border-radius: 6px;
  margin-right: 2px;
}
.footer {
  padding: 0 !important;
  position: relative;
  margin-top: -390px;
  min-height: 390px;
  clear: both;
  -webkit-box-shadow: 0 4px 8px -8px rgba(0, 0, 0, 0.2) inset;
  box-shadow: 0 4px 8px -8px rgba(0, 0, 0, 0.2) inset;
  background-color: #f2f1eb;
}
.footer ul {
  padding-left: 0;
  margin: 0 0 20px 0;
  list-style: none;
}
.footer ul.footer-list {
  padding-bottom: .4em;
}
.footer ul.footer-list li {
  line-height: 1.1;
  padding-bottom: .4em;
}
.footer #footer-content {
  padding: 30px 0;
}
.footer h3 {
  color: #820000;
  font-size: 1em;
  line-height: 1em;
  text-transform: uppercase;
  font-weight: 600;
}
.footer p,
.footer a {
  color: #5f574f;
}
.footer a {
  text-decoration: none;
}
.footer a:hover,
.footer a:active {
  text-decoration: underline;
  color: #820000;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.footer #hp-buttons ul {
  margin-bottom: 0;
}
.footer #hp-buttons ul li {
  margin-bottom: 5px;
}
.footer #hp-buttons ul li a {
  text-align: left;
}
.footer #hp-buttons ul li a:hover {
  text-decoration: none;
  color: white;
}
.footer #hp-buttons ul li a:focus {
  outline: 2px solid #0098db;
}
.footer #hp-buttons ul li a i {
  margin: 0 5px 0 0;
}
/* Global Footer and Copyright*/
#global-footer {
  position: relative;
  margin-top: 0 !important;
  /* negative value of footer height */

  height: 120px;
  clear: both;
  background-color: #8c1515;
  color: #e3dfd5;
  box-shadow: inset 0 4px 8px -2px rgba(0, 0, 0, 0.2);
  /* Horizontal offset , vertical offset, blur, internal spacing */

}
#global-footer .clear {
  clear: both;
}
#global-footer .container {
  background-color: #8c1515;
  color: #e3dfd5;
}
#global-footer .container .row {
  margin: 30px 0 0 0;
}
#global-footer a {
  color: #e3dfd5;
}
#global-footer #bottom-logo {
  margin: 0 0 10px;
  padding: 0;
}
#global-footer #bottom-logo img {
  display: block;
  margin: 0 auto;
}
#global-footer #bottom-text ul {
  margin: 0;
  line-height: 1em;
}
#global-footer #bottom-text ul li {
  display: block;
  list-style: none;
}
#global-footer #bottom-text ul li a {
  font-size: 15px;
  line-height: 20px;
}
#global-footer p.copyright {
  color: #e3dfd5;
  padding: 0 15px;
  margin: 0;
  font-size: 13px;
  line-height: 1.5em;
  text-align: center;
}
#global-footer p.copyright #termsofuse {
  margin-left: 10px;
  font-size: 12px;
}
/*
Sticky Footer Solution
by Steve Hatcher 
http://stever.ca
http://www.cssstickyfooter.com
*/
html,
body {
  height: 100%;
}
#su-wrap {
  min-height: 100%;
}
#su-content {
  overflow: visible;
  padding-bottom: 120px;
  /* must be same height as the footer */

}
#global-footer {
  position: relative;
  margin-top: -120px;
  /* negative value of footer height */

  height: 120px;
  clear: both;
}
/*Opera Fix*/
body:before {
  /* thanks to Maleika (Kohoutec)*/

  content: "";
  height: 100%;
  float: left;
  width: 0;
  margin-top: -32767px;
  /* thank you Erik J - negate effect of float*/

}
#content ul {
  padding-left: 0;
}
#content h3 a,
#content h4 a {
  text-decoration: none;
}
#content h3 a:hover,
#content h4 a:hover {
  text-decoration: underline;
}
.more-link a,
a.more-link {
  padding-right: 20px;
}
#feature-banner {
  clear: both;
  position: relative;
}
#feature-banner .item a {
  border-bottom: none;
  text-decoration: none;
  color: #5f574f;
}
#feature-banner .item img {
  margin: 0;
  padding: 0;
  width: 1170px;
  max-width: 1170px;
}
#feature-banner .item .carousel-caption {
  width: 250px;
  position: absolute;
  bottom: 20px;
  left: 90px;
  text-align: left;
  text-shadow: none;
  color: inherit;
}
#feature-banner .item .videoblock {
  position: absolute;
  width: 600px;
  height: 339px;
  left: 470px;
  top: 45px;
  overflow: hidden;
  z-index: 2;
}
#feature-banner .item .videoblock iframe,
#feature-banner .item .video-container object,
#feature-banner .item .video-container embed {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #d5d0c0;
}
#feature-banner .item h3 {
  font-size: 3.5em;
  font-weight: 400;
  line-height: 1em;
  letter-spacing: -1px;
  margin: 0 0 10px 0;
}
#feature-banner .item p {
  color: #2e2d29;
  font-size: 1.4em;
  line-height: 1.4em;
  font-weight: 300;
  text-shadow: none;
}
#feature-banner .item .white {
  color: #fbfbf9;
}
#feature-banner .item .clay {
  color: #5f574f;
}
#feature-banner .item .sandstone {
  color: #ddcf99;
}
#feature-banner .item .sandstone50 {
  color: #eee6cb;
}
#feature-banner .item .sandstone25 {
  color: #f6f3e5;
}
#feature-banner .item .red {
  color: #8c1515;
}
#feature-banner .carousel-indicators {
  bottom: -40px;
}
#feature-banner .carousel-indicators li {
  position: relative;
  margin: 3px;
  height: 12px;
  width: 12px;
  background-color: transparent;
  border: none;
}
#feature-banner .carousel-indicators li.active button {
  background-color: #8c1515;
}
#feature-banner .carousel-indicators li button {
  position: absolute;
  top: 0;
  left: 0;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  border: 1px solid #8c1515;
  background-color: #fff;
  margin: 2px;
  padding: 0;
}
#feature-banner .carousel-indicators li button:hover {
  background-color: #8c1515;
}
#feature-banner .carousel-indicators li button:focus {
  outline-offset: 0;
}
#feature-banner .carousel-control {
  background: none repeat scroll 0 0 #2e2d29;
  border: none;
  border-radius: 25px;
  color: #FFFFFF;
  height: 45px;
  left: 15px;
  opacity: 0.5;
  top: 43%;
  width: 45px;
  text-decoration: none;
  font-size: 2em;
}
#feature-banner .carousel-control.right {
  right: 15px;
  left: auto;
}
#feature-banner .carousel-control:focus {
  outline: 2px solid #0098db;
}
.headline {
  display: block;
  margin: 10px 0 15px 0;
  border-bottom: 1px solid #d5d0c0;
}
.headline h2,
.headline h3,
.headline h4 {
  font-weight: 300;
  margin: 0 0 -2px 0;
  padding-right: 10px;
  display: inline-block;
}
.news-item .news-img {
  position: relative;
}
.news-item .news-text h3 {
  margin: 10px 0 5px 0;
}
#more-news h4 {
  text-transform: uppercase;
  color: #820000;
  font-size: 1em;
  font-weight: 600;
  margin: 5px 0 15px 0;
}
#more-news ul {
  margin: 0 0 10px 15px;
}
#more-news ul li {
  list-style-type: none;
  font-size: 1.15em;
  margin-bottom: 15px;
  line-height: 1.24224;
}
#more-news ul li a {
  text-decoration: none;
}
#more-news ul li a:hover {
  text-decoration: underline;
}
#more-news ul li:before {
  font-family: 'FontAwesome';
  content: '\F105';
  margin: 0 10px 0 -15px;
  font-size: 13px;
}
#social-feature {
  font-family: "Source Sans Pro", Arial;
  background-color: #f2f1eb;
  border-radius: 4px;
  margin: 0;
  padding: 10px 0;
  color: #2e2d29;
}
#social-feature a {
  color: #820000;
  text-decoration: none;
}
#social-feature a:hover {
  text-decoration: underline;
  color: #8c1515;
}
#social-feature #tweet_info {
  padding: 0;
}
#social-feature p,
#social-feature #badge {
  display: inline-block;
}
#social-feature p {
  font-size: 1.3em;
  line-height: 1.4em;
  font-weight: 300;
  margin: 10px 10px 0 0;
  vertical-align: middle;
}
#social-feature p.social-timestamp {
  margin: 10px;
  padding: 10px;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.2em;
  font-size: 1em;
  font-weight: 400;
}
#social-feature #badge {
  margin-top:  0.3em;
  padding: 8px 13px;
  border-radius: 4px;
  background-color: #fbfbf9;
  color: #565347;
  font-size: 1.07143em;
}
#social-feature #badge .icon-twitter,
#social-feature #badge .fa-twitter {
  color: #0098DB;
}
#social-feature #badge:hover {
  text-decoration: none;
  background-color: #0098DB;
  color: white;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
#social-feature #badge:hover .fa-twitter {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  color: white;
}
#social-icons {
  padding-right: 0;
}
#social-icons ul {
  margin-top: 20px;
  margin-left: 0;
  list-style: none;
}
#social-icons ul li {
  display: inline;
}
#social-icons img {
  width: 33px;
}
#social-icons a:hover img {
  opacity: 0.6;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
#at-stanford {
  padding-right: 10px;
}
#at-stanford .item {
  margin-bottom: 20px;
  visibility: hidden;
}
#at-stanford .item a {
  text-decoration: none;
}
#at-stanford .item a:hover img {
  opacity: 0.8;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
#at-stanford .item a h3 {
  color: #8c1515;
}
#at-stanford .item a:hover h3 {
  text-decoration: underline;
}
#at-stanford .item a:hover p {
  color: #2e2d29;
}
#event-list h3,
#event-list h4 {
  font-size: 16px;
  margin-bottom: 0;
}
#event-list .event-date {
  vertical-align: top;
  width: 60px;
  padding-right: 15px;
}
#event-list .event-date .event-month {
  padding-left: 3px;
  font-weight: 400;
  font-size: 1.1em;
  text-transform: uppercase;
  display: block;
  text-align: center;
  line-height: 1.1;
  letter-spacing: 1px;
}
#event-list .event-date .event-day {
  font-weight: 200;
  display: block;
  text-align: center;
  font-size: 2.2em;
  color: #820000;
  line-height: 0.8;
}
#event-list .more-link {
  padding-left: 57px;
}
#cboxLoadedContent {
  padding: 10px;
}
#cboxLoadedContent h2 {
  color: #820000;
}
#cboxLoadedContent #event-banner {
  background-color: #8c1515;
  border-bottom: 2px solid #DDCF99;
  height: 50px;
  margin-bottom: 20px;
  padding: 10px 15px;
}
#cboxLoadedContent #event-banner span {
  color: #F2F1EB;
  display: block;
  float: left;
  font: 300 22px 'Source Sans Pro', arial, sans-serif;
  padding-left: 10px;
  padding-top: 2px;
}
#cboxLoadedContent #event-banner img {
  float: left;
  padding-right: 10px;
  border-right: 1px solid #F2F1EB;
}
#cboxLoadedContent #event-record {
  margin: 0 15px;
  padding: 0 0 15px;
}
#cboxLoadedContent #event-record dl {
  margin: 15px 0 0;
  padding: 0;
}
#cboxLoadedContent #event-record dt {
  clear: left;
  float: left;
  font-weight: bold;
  margin: 0 0 20px;
  text-align: right;
  width: 95px;
}
#cboxLoadedContent #event-record dd {
  margin: 0 0 20px 105px;
}
#cboxLoadedContent #event-sidebar {
  float: right;
  margin: 10px 0 20px 20px;
  width: 150px;
}
#cboxLoadedContent #event-footer {
  text-align: right;
  font-style: italic;
}
#sports .postcard-text {
  vertical-align: top;
}
#sports h3 {
  font-size: 18px;
}
#sports img {
  padding-right: 10px;
  vertical-align: top;
  width: 100px;
}
#mini-alert {
  margin-bottom: 10px;
  padding: 15px 0 10px 15px;
  background-color: #f2f1eb;
}
#mini-alert h2 {
  display: inline-block;
  text-transform: uppercase;
  padding-right: 20px;
  padding-top: 5px;
  color: #820000;
  font-weight: 600;
  font-size: 18px;
}
#mini-alert p {
  display: inline-block;
  padding-top: 5px;
}
#default-alert {
  margin-bottom: 10px;
  padding: 15px 0 10px 15px;
  background-color: #f2f1eb;
}
#default-alert #su-alert-icon {
  color: #e98300;
  text-align: center;
}
#default-alert h2 {
  color: #e98300;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 20px;
  line-height: 1;
}
#default-alert h3 {
  font-size: 22px;
}
#emergency-alert {
  min-height: 425px;
  margin-bottom: 10px;
  padding: 25px 15px;
  background-color: #2e2d29;
  display: block;
}
#emergency-alert #su-alert-icon {
  color: #ffff00;
  text-align: center;
}
#emergency-alert #su-alert-icon span {
  display: block;
  color: #ffff00;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 20px;
  line-height: 1;
}
#emergency-alert h2 {
  font-size: 55px;
  color: #fbfbf9;
  text-transform: uppercase;
  font-weight: 700;
}
#emergency-alert h3 {
  font-size: 30px;
  color: #fbfbf9;
}
#emergency-alert p {
  font-size: 20px;
  color: #fbfbf9;
}
#emergency-alert a {
  color: #ffff00;
}
