/* Smartphones (portrait) ----------- */
@media only screen
and (min-width : 710px){
	/*.workinfo_img{
		display:block;
		margin:auto;
		float: right;
		margin-left: 2% !important;	
		margin-right: 4% !important;
		}*/
	
	/*.collapse {
		display:block !important;
		height:345px !important;
		overflow:scroll !important; 
		width:100% !important;
	}
	.collapse .information{
		width: 100% !important;
	}
	.inner_menu_collapse{
		margin-top:20px;
	}*/

}

/* Smartphones (portrait and landscape) ----------- 
@media only screen
and (min-width : 950px)
and (max-device-width : 1050px){
}
*/


/* Smartphones (portrait and landscape) ----------- 
@media only screen
and (min-device-width : 800px){
}
*/

/* iPads (portrait and landscape) ----------- 
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {


}
*/

/* iPads (landscape) -----------
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
} 
*/

/* iPads (portrait) -----------
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
}
*/

/* Desktops and laptops ----------- 
@media only screen
and (min-width : 1224px) {
}
*/

/* Large screens ----------- 
@media only screen
and (min-width : 1824px) {
}
*/

/* iPhone 4 ----------- 
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
}
*/

/* iPhone 5 ----------- */
