#shenkar_logo{
width:15px;
height:15px;
}

#sidar_logo{
width:100%;
}
ui-footer ui-bar-inherit{
background:white;
}
.newspaper
{
-moz-column-count:2; /* Firefox */
-webkit-column-count:2; /* Safari and Chrome */
column-count:2;
}
.home_page_img{
    margin-right:3px;
}
#pageone .home_page_img {
  width:150px;
  height: 150px;
}

/*column*/
#pageone .ui-grid-b{
    display:none;
}
.ui-block-a,
.ui-block-b,
.ui-block-c
{
width:100%;
height:100%;
text-align: center;
margin-right: 5px;
}
/*end column*/

/*menu*/
/*end menu*/



